<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Admin Panel</h2>
<p>Admin logged in as: <b th:text="${email}"></b></p>

<p><a href="/notes">Go to Notes</a></p>
<p><a href="/user">Go to admin details Area</a></p>
<!--
Here shows CSRF token is required .
-->
<form th:action="@{/logout}" method="post" style="display:inline;">
    <!-- CSRF token automatically provided by Spring Security -->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>

</body>
</html>
